@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #262626;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base{
  h1 {
    font-size: 2.25rem;
    line-height: 2.25rem;   
    font-weight: bold;
  }
  h2 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  h3 {
    font-size: 1.2rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
}

@layer components {
  

  .backgroundArrow {
    background: url('/arrow.svg') no-repeat;
    background-size: 100%;
    background-position: center;
    width: 450px ;
    aspect-ratio: auto 450 / 195;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
